.header-section{
    justify-content: stretch;
    flex-direction: row-reverse;
    
}

#name{
    color:yellow;
}

.header-left{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap:15px;
    padding-left: 57px;
   
    
}

.hire-me-button{
    margin-top: 10px;
}
.header-right img{
    position: relative;
    width: 500px;
    padding:10px 10px 10px 10px;
    object-fit: cover;
}



