.header-section{
    justify-content: stretch;
    flex-direction: row;
    overflow: hidden;
    
}

#name{
    color:yellow;
}

.header-left{
    
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left:2rem;
    gap: 1rem;
    max-height: 542px;
    
   
    
}

.hire-me-button{
    margin-top: 1rem;
}
.header-right img{
    
    width: 33rem;
    margin-inline: auto;
   
    
}

@media (max-width: 600px) {
    
    .header-left{
    
        
        position: absolute;
              
        
    }
    .header-right img{
    
        width: 30rem;
        justify-content: right;
        margin-inline: 100px;
                 
        
    }

    .header-left{
    
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left:2rem;
        
        
        
       
        
    }
    body {
        font-size: 14px; /* Smaller font for mobile */
      } 
    
}

@media (min-width: 601px) and (max-width: 1024px) {
    /* Styles for devices between 601px and 1024px */
    .header-left{
    
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left:2rem;
        font-size: small;
        
        
        
       
        
    }
      
  }
  
  @media (min-width: 1025px) {
    /* Styles for devices wider than 1024px */
    
  }

