.skills-heading
{
    text-align: center;
}

.skills-heading p
{

    padding: 20px 20px 20px 20px;
}

.skill-items 
{
    flex-direction: column;
    gap:35px;
    padding-block: 25px;
}

.skill-card{
    box-shadow: 0 0 10px #888;
    padding: 20px 20px 20px 20px;
    background-color: rgb(50,50,50);
    border-radius: 2px;
}

.skill-card:hover{
    box-shadow: 0 0 20px #fffefe;
    padding: 20px 20px 20px 20px;
}
.skill-card img{
    width:100px;
    float: left;
    margin-top: 10px;
    padding-right: 20px;
}
.skill-card p{
    margin-top: 3px;
}